@using Microsoft.AspNet.Identity;
@model FYPInitial.Models.userevent
@{
    ViewBag.Title = "Employee Home Page";
}

@*This is the employee homepage *@

<link href="content/portfolio-item.css" rel="stylesheet">


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome
                <small>@(ViewBag.Message)</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="content">
                <img class="img-responsive" src="~/Content/img/emphomepage.png" alt="Solar Panels">
            </div>
        </div>
        <div class="col-md-4">
            <h3>Today's Appointments:</h3>
            <p onclick="Redirect()"  style="cursor:pointer">@ViewData["todaysappts"]</p>
            <br />

            <h3>Appointments this Week:</h3>
            <p onclick="Redirect()" style="cursor:pointer">@ViewData["count"]</p>
            <br />

            <h3>Weekly Schedule Breakdown:</h3>
            <div id="morris-donut-chart" style="max-height: 200px; cursor:pointer;" onclick="Redirect()"  >
                @*
            morris.js Donut Chart:
            Copyright (c) 2013, Olly Smith
            All rights reserved.
                *@
            </div>
        </div>
    </div>

</div>


<br />

           

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />

@section Scripts{
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    
    <script type="text/javascript">

    $(document).ready(function () {
        Morris.Donut({
            element: 'morris-donut-chart',
            data: Graph(),
            resize: true,
            colors: ['#428bca']
        });
        });


    function Graph() {
        var data = "";
        $.ajax({
            type: 'POST',
            url: '/User/PopulateDonut',
            dataType: 'json',
            async: false,
            contentType: "application/json; charset=utf-8",
            data: {},
            success: function (result) {
                data = result;
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

        return data;
    }


    function Redirect()
    {
    window.location = "../../EmployeeCalendar";
    }

     

    </script>



    }










