@{
    ViewBag.Title = "About";
}



<h2>@ViewBag.Title.</h2>
<h3>About Us</h3>

<p>Formed by Patrick Wycherley in 2006 and growing ever since. You can reach us Monday to Friday from 9:00 am to 5:00 pm by phone.</p>
<br />
<p>In October 2010 Clean Energy Ireland was awarded an NSAI Agrément certificate for the Integra IDKM Solar collector system.This award is further evidence of our commitment to providing the best solar equipment to our customers and demonstrates our products are “fit for purpose” as assessed and approved by the NSAI.</p>
<br />
<p>Clean Energy Ireland is an NZEB, low energy, passive house company. Nearly Zero Energy Buildings, or NZEB are required under the Energy Performance of Buildings Directive. New buildings owned and occupied by Public Authorities after 31st December 2018 must be NZEB and from 31st December 2020 all new buildings will be required to be NZEB.</p>