@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3>Contact Us</h3>

<address>
    Clean Energy Ireland Ltd<br />
    Aherla, Co. Cork<br />
    <abbr title="Phone">P:</abbr>
    021 428 9407 
</address>

<p>You can reach us Monday to Friday from 9:00am to 5:00pm by phone.</p>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">info@cleanenergyireland.ie</a><br />
    
</address>