@{
    ViewBag.Title = "Home Page";
}

@*This is the main homepage of the web application *@

<div class="jumbotron-img">
    <h1>Clean Energy Ireland</h1>
    <br />
    <p><a href="~/Bookings/Index" class="btn btn-primary btn-lg">Book an appointment &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Official Website</h2>
        <p>
            Visit our official, customer facing website!
        </p>
        <p><a class="btn btn-default" href="http://www.cleanenergyireland.ie">Official Website &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Current Stock</h2>
        <p>View our current product range, prices and stock levels.</p>
        <p><a class="btn btn-default" href="~/Product">View Products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register today!</h2>
        <p>Login or register to book service appointments.</p>
        <p><a class="btn btn-default" href="~/Account/Register">Sign up &raquo;</a></p>
    </div>
</div>

