@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clean Energy Ireland</h1>
    <p class="lead">Clean Energy Ireland is an NZEB, low energy, passive house company. </p>
    <p><a href="http://www.cleanenergyireland.ie" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Official Website</h2>
        <p>
            Visit our official, customer facing website by clicking the button below!
        </p>
        <p><a class="btn btn-default" href="http://www.cleanenergyireland.ie">Official Website &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Current Stock</h2>
        <p>View our current product range, prices and stock levels!</p>
        <p><a class="btn btn-default" href="~/Product">View Products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Login or register to access services such as online bookings and service history.</p>
        <p><a class="btn btn-default" href="~/Account/Register">Learn more &raquo;</a></p>
    </div>
</div>